li {
	text-align: left;
	font-style: italic;
	font-family: Times, "Times New Roman", Georgia, serif;
}
thead {
	background-color: #E0E0E0;
}
table {
	width: 100%;
	text-align: center;
	font-family: Papyrus, fantasy;
}
table, th, td {
	border: solid black 1px;
	border-collapse: collapse;
}
tbody {
	font-style: italic;
}
#albumName {
	font-family: 'Bangers', cursive;
}
#coverart {
	height:300px;
	width: 300px;
}
h3 {
	font-family: 'Indie Flower', cursive;
}
.table-striped>tbody>tr:nth-child(odd)>td {
   background-color: #00ccff;
 }
 .table-striped>thead>tr>th {
 	text-align: center;
 }
 .table-striped>caption {
 	text-align: center;
 }
