@import url(https://fonts.googleapis.com/css?family=Chewy|Permanent+Marker|Nothing+You+Could+Do|Walter+Turncoat|Goudy+Bookletter+1911);
#header {
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	padding: 5px;
}
#footer {
	font-family: Papyrus, fantasy;
	text-align: center;
    clear: both;
    padding: 5px; 
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li {
	float: left;
	padding: 14px 20px;
}
th {
	
}