li {
	font-style: italic;
	text-align: left;
}
th {
	background-color: #E0E0E0;
	text-align: center;
}
#albumName {
	font-family: 'Bangers', cursive;
}
#coverart {
	background-image: url("coldplay.jpg");
	background-repeat: no-repeat;
	height:400px;
	width: 100%;
	background-position: center;
	background-size: 400px 400px;
}
h3 {
	font-family: 'Indie Flower', cursive;
}
