@import url(https://fonts.googleapis.com/css?family=Chewy|Permanent+Marker|Nothing+You+Could+Do|Walter+Turncoat|Goudy+Bookletter+1911);
#header {
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	padding: 5px;
}
#footer {
	font-family: Papyrus, fantasy;
	text-align: center;
    padding: 5px; 
}
#content {
	font-family: Georgia, serif;
	font-size: 16px;
	background-color: #ffffcc;
	text-align:center;
}
a:visited {
	color: #ffb366;
}
a:hover {
	font-weight: bold;
}
a:active {
	text-decoration: none;
}
li {
	padding: 14px 16px;
}