li {
	font-style: italic;
	text-align: left;
}
thead {
	background-color: #E0E0E0;
	text-align: center;
}
table {
	width: 100%;
}
table, th, td {
	border: solid black 1px;
	border-collapse: collapse;
}
tbody {
	background-color: #00ccff;
	font-style: italic;
}
#albumName {
	font-family: 'Bangers', cursive;
}
#coverart {
	background-image: url("coldplay.jpg");
	background-repeat: no-repeat;
	height:400px;
	width: 100%;
	background-position: center;
	background-size: 400px 400px;
}
h3 {
	font-family: 'Indie Flower', cursive;
}
